body {
  margin: 10px;
  padding: 25px;
  background-color: lightblue;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  background-color: steelblue;
  color:white;
  margin-top:20px;
}

.editButton {
  margin-left: 100px;
}

.deleteButton {
  background-color: red;
}

.modal {
  position: fixed;
  width: 500px;
  height: 300px;
  top:200px;
  left:300px;
  background-color: cornflowerblue;
  padding:10px 50px 10px 50px;
  border-radius: 10px;
}

/* .modalOverlay {
  background-color: transparent;
} */

form .text {
  width: 400px;
  margin-bottom: 10px;
}

h4 {
  font-style: italic;
}

.todo {
  text-decoration: none;
}

.todoDone {
  text-decoration: line-through;
}

